.learning__wrapper{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  padding: 30px 20px;
  
}

.learning{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hard-words__wrapper{
  display:  flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

[data-page-group="1"]{
  background-color: hsla(311, 0%, 100%, 1);
  background-image:
  radial-gradient(at 92% 23%, rgb(138, 171, 133) 0px, transparent 50%),
  radial-gradient(at 23% 61%, hsla(47,100%,89%,1) 0px, transparent 50%);
  background-repeat: repeat-y; 
}

[data-page-group="2"]{
  background-color: hsla(311, 0%, 100%, 1);
  background-image:
  radial-gradient(at 92% 23%, rgb(91, 154, 76) 0px, transparent 50%),
  radial-gradient(at 23% 61%, hsla(47,100%,89%,1) 0px, transparent 50%);
  background-repeat: repeat-y; 
}

[data-page-group="3"]{
  background-color: hsla(311, 0%, 100%, 1);
  background-image:
  radial-gradient(at 92% 23%, rgb(255, 176, 0) 0px, transparent 50%),
  radial-gradient(at 23% 61%, hsla(47,100%,89%,1) 0px, transparent 50%);
  background-repeat: repeat-y; 
}

[data-page-group="4"]{
  background-color: hsla(311, 0%, 100%, 1);
  background-image:
  radial-gradient(at 92% 23%, rgb(170, 85, 0) 0px, transparent 50%),
  radial-gradient(at 23% 61%, hsla(47,100%,89%,1) 0px, transparent 50%);
  background-repeat: repeat-y; 
}

[data-page-group="5"]{
  background-color: hsla(311, 0%, 100%, 1);
  background-image:
  radial-gradient(at 92% 23%, rgb(196, 40, 28) 0px, transparent 50%),
  radial-gradient(at 23% 61%, hsla(47,100%,89%,1) 0px, transparent 50%);
  background-repeat: repeat-y; 
}

[data-page-group="6"]{
  background-color: hsla(311, 0%, 100%, 1);
  background-image:
  radial-gradient(at 92% 23%, rgb(117, 0, 0) 0px, transparent 50%),
  radial-gradient(at 23% 61%, hsla(47,100%,89%,1) 0px, transparent 50%);
  background-repeat: repeat-y; 
}