.error-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat",sans-serif;

  h1{
    font-weight: 600;
    text-align: center;
  }
}

.error-image {
  height: 320px;
}

@media screen and (max-width: 1440px) {
  .error-image {
    height: 420px;
  }

  h1{
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .error-image {
    height: 250px;
  }

  h1{
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .error-image {
    height: 180px;
  }

  h1{
    font-size: 25px;
  }
}