.controls{
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  gap: 15px;
}


.pagination__groups{
  position: relative;

  &.js-clicked > .pagination__groups-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.pagination__groups{
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.controls__mini-games.js-clicked > .controls__mini-games-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination__groups-content,
.controls__mini-games-content{
  display: none;
  position: absolute;
  bottom: 40px;
  height: auto;
  width: 100px;
}

.controls__mini-games-content{
  width: auto;
}

.pagination__groups-group{
  border: 1px solid black;
  cursor: pointer;
}

.controls__home-image,
.controls__mini-games-image{
  width: 30px;
  height: auto;
}
.controls__mini-games-audio-challenge-link,
.controls__mini-games-sprint-link{
  border: 1px solid black;
}
