@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$transition_begin_time: 0.5s;
$transition_end_time: 0.3s;


.footer-container{
    font-family: 'Roboto', sans-serif; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;

    .footer_logo{
        width: 110px;
        height: 40px;
    }

    .year {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #535350;
        letter-spacing: 0.05em;
    }

    .footer_developers{
        display: flex;
        gap: 20px;

        .footer_developer{
            display: flex;
            text-decoration: none;
            gap: 8px;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            color: #535350;
            border-radius: 10px;
            padding: 1px 2px;
            transition: $transition_end_time;

            &:hover{
                background-color: rgb(235, 235, 235);
                transition: $transition_begin_time;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .footer-container{
        padding: 0 20px;
        height: 80px;

        .footer_logo{
            width: 90px;
            height: 33px;
        }

        .footer_logo{
            order: 1;
        }
    
        .year {
            order: 2;
            
        }
    
        .footer_developers{
            order: 3;
            flex-direction: column;
            gap: 0;

            .github_icon{
                width: 22px;
                height: 22px;
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .footer-container{
        padding: 0 10px;
        height: 60px;

        .footer_logo{
            order: 1;
        }
    
        .year {
            order: 3;
            font-size: 20px;
            line-height: 24px;
        }
    
        .footer_developers{
            order: 2;
            flex-direction: column;
            gap: 0;
            
            .footer_developer{
                font-size: 15px;
                line-height: 15px;
            }

            .github_icon{
                width: 22px;
                height: 22px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .footer-container{
        padding: 0 5px;
        height: 65px;

        .footer_logo{
            width: 70px;
            height: 25px;
        }

        .year{
            font-size: 18px;
            line-height: 24px;
        }

        .footer_developers{
            .footer_developer{
                gap: 2px;
                .github_icon{
                    width: 15px;
                    height: 15px;
                }
            }
            
        }
    }
}